<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Home</title>
    <style>
        body {
            background-color: lightgrey;
        }
        h1 {
            color: brown;
        }
        table {
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        td {
            border: 1px solid black;
            padding: 5px;
        }
    </style>
</head>
<body>

<h1>Product Home Page</h1>
<h2>{{ category }}</h2>
<h3>List of Products:</h3>

{% for i in products %}
<table>
    {% for k, v in i.items %}
    <tr>
        <td>{{ k }}</td>
        <td>
            {% if k == "description" %}
                <ul>
                    {% for desc in v %}
                        <li>{{ desc }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                {{ v }}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endfor %}

</body>
</html>
