<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Welcome to the Home Page!!</h1>

    <form action="/addval/" method="post">
    {% csrf_token %}

        <label>First Value:</label><br>
        <input type="text" name="first_value"><br><br>

        <label>Second Value:</label><br>
        <input type="text" name="second_value"><br><br>

        <input type="submit" value="Submit">
    </form>

</body>
</html>
